.navBar {
    background-color: #732B2B;
    color: white;
    padding: 30px;
    display: flex;
    align-items: center;
}

.navBar h3 {
    margin: auto;
}

.titulo_nav {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: xx-large;
    margin-inline-start: 30px;
    margin-inline-end: 280px;
}

.temperament {
    width: 230px;
    display: inline;

}

.temperament_select {
    margin: 4px;
}

.create_link {
    width: 133px;
    height: 39px;
    margin-left: 108px;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    color: #732B2B;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 4px;
}

.create_link:hover {
    background-color: #8d1f1f;
    color: white
}