.paginado{
    padding-right: 201px;
    padding-left: 222px;
    margin: 34px;
    text-align: center; 
} 

.lista {
    margin: 0.3%;
    padding: 0.2%;
}

.botonpaginado {
    width: 66px;
    height: 20px;
}

.botonpaginado:hover{
    color: #732B2B;
    background: #ffffff;
}