.paginado{
    padding-right: 395px;
    padding-left: 395px;
    margin: 20px;
    text-align: center; 
} 

.lista {
    margin: 3px;
    display: inline-block;
}

.botonpaginado {
    width: 40px;
    height: 22px;
}

.botonpaginado:hover{
    color: #732B2B;
    background: #ffffff;
}