.search {
    padding-top: 1%;
    display: flex;
    align-items: center;
}

.search_top {
    display: flex;
    flex-direction: column;
    margin-right: 55px;
}

.input_search {
    width: auto;
    height: 22px;
}

.button_search {

    width: 65px;
    height: 26px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    color: #732B2B;
    background: #ffffff;
}

.button_search:hover {
    background-color: #732B2B;
    color: #ffffff;
}